.not-found {
  position: relative;
}

.button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: blue;
  color: #fffffe;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  background-color: #ccc;
}